<div id="show-empty"></div>
<div class="footer-container">
  <div class="left-footer">
      <a href="#">
        <img class="footer-icon" src="https://iconarchive.com/download/i98467/dakirby309/simply-styled/YouTube.ico" alt="facebook icon">
      </a>

      <a href="#">
        <img class="footer-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" alt="Instagram icon">
      </a>

      <a href="#">
        <img class="footer-icon" src="https://k12k-dbexcel.edlioadmin.com/apps/download/LeUJWDcQvkq9aNyMLl5TEAFJPDdoRoNR5UXBBKN9qCbFRR5G.png/Twitter-icon%20%281%29%20copy.png" alt="Tweeter icon">
      </a>

      <a href="#">
        <img class="footer-icon" src="https://www.freepnglogos.com/uploads/facebook-logo-13.png" alt="facebook icon">
      </a>
      <p class="footer-li"><img src="https://www.logodesignlove.com/images/monograms/registered-trademark-symbol.gif" width="20" height="20">STAR FITNESS</p>
      <p class="footer-li">ALL RIGHTS RESERVED</p>
  </div>
  <div class="right-footer">
    <ul id="footer-ul">
      <li class="footer-li"><a class="footer-a" href="#">FAQ</a></li>
      <li class="footer-li"><a class="footer-a" href="#">CONTACT</a></li>
      <li class="footer-li"><a class="footer-a" href="#">TERMS OF USE</a></li>
      <li class="footer-li"><a class="footer-a" href="#">PRIVACY POLICY</a></li>
      <li class="footer-li"><a class="footer-a" href="#">BECOME A MEMBER</a></li>
    </ul>
  </div>
</div>
