<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index Page</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <div class="container">
      <% for(let i=0; i<data.length; i++){%>
        <div class="individual">
          <a href="/<%=data[i]._id%>"><%=data[i].name%></a>
        </div>
        <form action="/<%=data[i]._id%>?_method=DELETE" method="post">
          <input type="submit" value="Delete">
        </form>
        <button><a href="/<%=data[i].id%>/edit">Edit</a></button>
      <% } %>

    </div>
    <button><a href="/new">Create New Exercise</a></butotn>
  </body>
</html>
